.profile__edit-btn {
  width: 18px;
  height: 18px;
  background-color: #000;
  background-image: url("../../../images/profile-edit-btn-image.svg");
  background-size: 7.5px auto;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0 0 10px;
  cursor: pointer;
  transition: opacity .2s linear;
}

.profile__edit-btn:hover {
  opacity: .6;
}

@media screen and (min-width: 1024px) {
  .profile__edit-btn {
    width: 24px;
    height: 24px;
    margin: 15px 0 0 18px;
    background-size: 10px auto;
  }
}
