.popup__form-error {
  max-width: 238px;
  min-height: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  margin-top: 5px;
  visibility: hidden;
}

@media screen and (min-width: 1024px) {
  .popup__form-error {
    max-width: 350px;
  }
}
